@page
@model ItemsRazor.Pages.Products.DetailsModel
@{
}


<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            @if (Model.product!=null)
            {
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Product Details</h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text"><strong>Name :</strong> @Model.product.Name</p>
                        <p class="card-text"><strong>Description :</strong> @Model.product.Description</p>
                        <p class="card-text"><strong>Price :</strong> @Model.product.Price</p>
                        <p class="card-text"><strong>Quantity :</strong> @Model.product.Quantity</p>
                        <p class="card-text"><strong>Comments :</strong> @Model.product.Comments</p>
                        <p class="card-text"><strong>Creation Date :</strong> @Model.product.CreationDate</p>
                        <p class="card-text"><strong>User :</strong> @Model.product.UserName</p>


                    </div>
                    <div class="card-footer">
                        <div>
                           <div class="row text-center
">
                               <div class="col-lg-12">
                                    <div class="col-lg-6">
                                        <a asp-page="/Products/Index" class="btn btn-secondary">Go Back</a>

                                    </div>
                                   
                               </div>
                           </div>
                           
                        </div>


                    </div>

                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <a asp-page="/Products/Index"  class="btn btn-secondary">Go Back</a>
                    </div>
                </div>
            }
          
        </div>

        <h3 class="text-danger text-center ">@Model.ErrorMessage</h3>
        
    </div>
</div>