@page
@using ItemsRazorAuth.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@model ItemsRazor.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-lg-10 mx-auto" style="background-color:whitesmoke">
            @if (Model.ErrorMessage != null)
            {
                <h3>Error Messages : @Model.ErrorMessage</h3>
            }
            <h3 class="text-primary text-center">              

              List Of Products        
                @if (SignInManager.IsSignedIn(User))
                {
                    <a asp-page="/Products/Create" class="btn btn-primary py-3">New</a>
                }
                else
                {
                    <h2 class="card-title success">You are not logged in, register for advanced options</h2>
                }

            </h3>
            
            <div class="col-lg-8 mx-auto">
                <form method="Get">
                   <p>
                        Find by name:
                        <input type="text" name="search" value="@Model.search" placeholder="Search Data ..." /> 
                        <button type="submit" class="btn btn-primary">Search</button> |
                        
                        <a asp-page="./Index">Back to full List</a>

                      
                   </p> 
                </form>

         
            </div>
            @if (Model.list!=null)
            {
               
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Creation Date</th>
                                <th>User</th>
                                <th>Comments</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.list)
                            {
                                <tr>
                                    <td> @item.Name</td>
                                    <td> @item.Description</td>
                                    <td> @item.Quantity</td>
                                    <td> @item.Price</td>
                                    <td> @item.CreationDate</td>
                                    <td> @item.UserName</td>
                                    <td> @item.Comments</td>
                                    <td>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <a class="btn btn-success my-1" asp-page="/Products/Edit" asp-route-id="@item.Id">Edit</a>
                                            <a class="btn btn-danger" asp-page="/Products/Delete" asp-route-id="@item.Id">Delete</a>
                                        }

                                        <a class="btn btn-secondary my-1" asp-page="/Products/Details" asp-route-id="@item.Id">Details</a>

                                    </td>

                                </tr>
                            }



                        </tbody>
                    </table>
            }   
            else
            {
                <h3 class="text-danger text-center">
                    @Model.ErrorMessage
                    <a asp-page="/Products/Index" class="btn btn-primary">Try Again</a>
                </h3>
            }
           
        </div>
    </div>
</div>

